* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./img/back.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.choices {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.choice {
    text-align: center;
}

.choice img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    gap: 40px;
    margin: 30px 0;
}

button {
    font-size: 50px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #a200ff;
}

#paper {
    background-color: #9ee01a;
}

#scissors {
    background-color: #7dbeed;
}

p{
    font-weight: bold;
    margin-bottom: 10px;
}

.you-score span{
    color: rgb(77,128,216);
}

.machine-score span{
    color: rgb(224,71,15);
}